<!DOCTYPE html>
<!--This is my comment section
It is  a multiline comment section about my first HTML application This allows me to enter a lot of text.-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Name</h1>
    <span>Jerilyn</span>

    <h2>Computer #</h2>
    <span>4</span>

    <h3>Where I live</h3>
    <span>Gaithersburg, MD</span>

    <h4>Favorite Movie</h4>
    <span>Django Unchained</span>

    <h5>Favorite Quote</h5>
    <span>"Yes we can!" - Barack Obama</span>

    <h6>Anything else</h6>

    <div><img src="https://images.unsplash.com/photo-1504858700536-882c978a3464?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="This is a nightsky"/></div>
    <a target="_blank" href="http://www.montgomerycollege.edu">This is a link to the MC page</a>

    <ul>
        <li>This is an unordered list item</li>
        <li>This is another unordered list item</li>
        <li>This is yet another unordered list item</li>
        <li>This is an unordered list item again</li>
    </ul>

    <ol>
        <li>This is an unordered list item</li>
        <li>This is another unordered list item</li>
        <li>This is yet another unordered list item</li>
        <li>This is an unordered list item again</li>
    </ol>


</body>
</html>